:root {
    --skd-menu-width: 200px;
    --skd-menu-icon-width: 25px;
    --skd-menu-hover: rgb(49 177 68);
    --skd-menu-text: rgb(255, 255, 255);
    --skd-menu-background-start: rgb(21 175 255);
    --skd-menu-background-end: rgb(0 78 119);
}

.skd-menu-item[disabled] {
    cursor: default;
}

.skd-menu {
    position: absolute;
    background: linear-gradient(var(--skd-menu-background-start), var(--skd-menu-background-end));
    color: var(--skd-menu-text);
    width: var(--skd-menu-width);
}

    .skd-menu .skd-menu-areaspacer {
        content: ".skd-menu-areaspacer";
        border-top: 1px dashed var(--skd-menu-text);
        height: 0px;
    }

    .skd-menu .skd-menu-item + .skd-menu-areaspacer {
        padding: 0;
    }

    .skd-menu .skd-menu-spacer {
        padding: 0 !important;
        border-top: 1px dotted var(--skd-menu-text);
        height: 0px;
        margin-left: var(--skd-menu-icon-width);
        margin-right: 0;
    }

    .skd-menu ~ .skd-menu-item {
        border-top: 1px solid white;
    }

    .skd-menu > div {
        display: flex;
        align-items: center !important;
        padding: .5rem .25rem .5rem .5rem;
        cursor: pointer;
    }

    .skd-menu .skd-menu-item:hover {
        background-color: var(--skd-menu-hover);
    }

    .skd-menu .skd-menu-item div:nth-child(1) { /* left (page) icon */
        width: var(--skd-menu-icon-width);
        padding: 0;
    }

    .skd-menu .skd-menu-item div:nth-child(2) { /* text */
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0;
    }

    .skd-menu .skd-menu-item div:nth-child(3) { /* right icon */
        width: auto;
        padding-left: .25rem;
        padding-right: 0;
    }

@media (max-width: 575px) { /* max SM */
    :root {
        --skd-menu-width: 32px;
    }

    .skd-menu {
        position: unset !important;
        width: auto !important;
    }

        .skd-menu .skd-menu-item {
            padding-left: .25rem;
        }

            .skd-menu .skd-menu-item > :first-child {
                text-align: center;
            }

        .skd-menu .skd-menu-spacer {
            margin-left: 0;
            border-top: 1px dashed var(--skd-grey-light);
        }
}
