@{
    Layout = "~/Views/Shared/_Layout_SkdSidebar.cshtml";
    ViewBag.Title = "Device Information";
    ViewBag.SubTitle = "Testong";
}
@*<div skd-sidebar-tabs>
    <div skd-sidebar-tab="Tab 1">My Profile Tab 1</div>
    <div skd-sidebar-tab="Tab 2">My Profile Tab 2</div>
    <div skd-sidebar-tab="Tab 3">My Profile Tab 3</div>
</div>*@