@{
    ViewBag.Title += "Skd-Card";
    ViewBag.SubTitle = "<code>Awaiting review</code>";
}
<div class="d-flex">
    <div class="col-4 skd-card">
        <div class="skd-card-header">
            <div class="d-flex">
                <div class="col">Header</div>
                <div class="col-auto">Search?</div>
            </div>
            <div class="d-flex">
                <div class="col-6">Filter 1?</div>
                <div class="col-6">Filter 2?</div>
            </div>
        </div>
        <div class="skd-card-body">
            <div class="d-flex">
                <div class="col-12">
                    testing som fylder hele linjen
                </div>
            </div>
            <div class="d-flex">
                <div class="col-6">Linje 1</div>
                <div class="col-6">Linje 2</div>
            </div>
        </div>
        <div class="skd-card-footer">Footer</div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-header">
            <div class="d-flex">
                <div class="col-4">Linje 1</div>
                <div class="col-8">Linje 2</div>
            </div>
        </div>
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">
            <div class="d-flex">
                <div class="col-4">Linje 1</div>
                <div class="col-8">Linje 2</div>
            </div>
        </div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-header">Header</div>
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">
            <div class="d-flex">
                <div class="col-4">Linje 1</div>
                <div class="col-8">Linje 2</div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="d-flex">
    <div class="col-4 skd-card">
        <div class="skd-card-header">Header</div>
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">Footer</div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-header">Header 1</div>
        <div class="skd-card-header">Header 2</div>
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">Footer</div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-header">Header 1</div>
        <div class="skd-card-header">Header 2</div>
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">Footer 1</div>
        <div class="skd-card-footer">Footer 2</div>
    </div>
</div>
<hr />
<div class="d-flex">
    <div class="col-4 skd-card">
        <div class="skd-card-body">Body</div>
        <div class="skd-card-footer">Footer</div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-body">Body</div>
    </div>
    <div class="col-4 skd-card">
        <div class="skd-card-header">Header</div>
        <div class="skd-card-body">Body</div>
    </div>
</div>
@section scripts {
    <script>
        $(function (e) {
        });
    </script>
}
@section styles {
    <style>
    </style>
}