/* Skd Admin Template */
:root {
    --header-height: 50px;
    --header-min-height: 50px;
    --footer-height: 50px;
    --footer-min-height: 50px;
    --left-width: 200px;
}

left {
    width: var(--left-width) !important;
    min-height: 100vh;
    padding: 0 !important;
}

    left > :first-child {
        min-height: var(--header-height);
    }

    left > :last-child {
        min-height: var(--footer-height);
        background-color: var(--skd-menu-backgrond-end);
    }

    left menu {
        min-height: calc(100% - var(--header-height) - var(--footer-height));
        margin: 0 !important;
        padding: 0 !important;
    }

header {
    min-height: var(--header-height);
    background-color: whitesmoke;
    border-bottom: 1px dotted rgb(160, 160, 160);
}

    header #page-title {
        font-size: 1.5rem;
    }

        header #page-title span {
            font-size: .8rem;
            top: 26px;
            left: 26px;
            color: gray;
        }

    header #top-botton-row {
        position: relative;
        padding-right: 0;
    }

    header .top-button {
        text-align: center;
        font-size: .75rem;
        text-decoration: none;
        cursor: pointer;
        padding: 0 .25rem;
        border: 0;
        border-radius: .5rem;
        white-space: nowrap;
    }

        header .top-button:not(:last-child) {
            margin-right: .25rem;
        }

        header .top-button:last-child {
            margin-right: .5rem;
        }

        header .top-button:hover {
            background-color: #aaffaa;
        }

footer {
    min-height: calc(var(--footer-height) - 1px);
    background-color: whitesmoke;
    border-top: 1px dotted rgb(160, 160, 160);
    font-size: .8rem;
    color: darkgray;
    text-align: center;
}

main {
    min-height: 100vh;
    width: calc(100vw - var(--left-width) - 1rem - 1px) !important;
    padding: 0 !important;
}

section {
    min-height: calc(100% - var(--header-height) - var(--footer-height));
    padding: 1rem 0;
}

    section > .d-flex {
        margin: auto -15px;
    }

/******************* Skd Module setup */
/* menu */
.skd-menu {
    min-height: calc(100% - var(--header-height) - var(--footer-height)) !important;
}

.skd-menu-item[level='1'] {
    padding-left: 1.5rem;
}

.skd-menu-item[level='2'] {
    padding-left: 3rem;
}

@media only screen and (max-width: 575px) { /* max SM */
    left {
        width: 32px !important;
    }

        left.float {
            width: var(--left-width) !important;
            position: relative;
            z-index: 2;
        }

            left.float #brand-title {
                display: block !important;
            }

    .skd-menu-item[level='1'] {
        padding-left: .25rem;
    }
}

/** Brand */
#brand-icon {
    height: 24px;
}

@@media only screen and (min-width: 768px) { /* MD and above */
    #brand-icon {
        height: 50px;
    }
}

#top_btn_debug {
    cursor: url("/Content/Cursor/help.cur"), auto;
}