@model int?
@{
    ViewBag.Title = "Info Categories";
    int rowNo;
}
</div>
@section scripts {
    <script>
        $(function (e) {
        });
    </script>
}
@section styles {
    <style>
    </style>
}
